body {
  overflow-y: scroll;
  font-family: 'Dosis', sans-serif;
}

.lyrics-box {
  border: 1px solid #dadada;
}

li {
 padding: 4px;
}

li:hover{
  border-radius: 10px;
  background-color: rgb(5, 161, 161);
  padding: 6px;
  color:beige
}

h3 {
  padding-bottom: 20px;
}

pre {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}